


html,body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
 
  }
  
  .App {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .app-header {
    text-align: center;
    background-color: #3b5998;
    color: white;
    width: 100%;
  }
  
  .app-container {
    margin-top: 50px;
  }
  
  .room {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    row-gap: 60px;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .room label {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .room input {
    width: 200px;
    height: 30px;
    border: 2px solid #3b5998;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
  }
  .room button {
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    background-color: #3b5998;
    color: white;
    cursor: pointer;
  }
  
  .signout {
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    column-gap: 20px;
  }



  .new-button {
    padding-top: 10px;
    padding-bottom: 10px;
  }




  @media (max-width: 800px)
  {
.signout {
    margin-top: 10px;
    margin-bottom: 10px;
}
  }